#Object files
*.o
*.ho
#Libraries
*.lib
*.a
*.ha

#Executables 
*.exe
*.out
*.app
kernel

#HTML Files
*.html

*.mk

.cvsignore
vers.c
version

#Executable direcories
bin/
sbin/

#Swap files
*.sw?

#Make files
os161-1.11/kern/compile
root/DISK1.img
root/DISK2.img
root/kernel-ASST0
