#Object files
*.o
*.ho
#Libraries
*.lib
*.a
*.ha

#Executables 
*.exe
*.out
*.app
kernel

#HTML Files
*.html

*.mk

.cvsignore
vers.c
version
#Executable direcories
bin/
sbin/

#Testbin directory 
testbin/
uw-testbin/
my-testbin/

#Swap files
*.sw?

#linked files
root/DISK1.img
root/DISK2.img
root/kernel-ASST0

defs.mk.sample
Makefile
configure
lib
man
mk
os161-1.11/kern/compile/*
./kern
